{% extends 'layout.html.twig' %}
{% block title %}
    {{ parent() }} - Game Over !
{% endblock %}
{% block content %}
<div class="container d-flex align-items-center justify-content-center min-vh-100">
    <div class="row w-100">
        <div class="col">
            <img src="/assets/images/go.png" class="image-clignotante img-fluid text-center">
            <a href="#>"<img src="/assets/images/try_again.png" class="img-fluid text-center"></a>
        </div>
    </div>
</div>
{% endblock %}