{% extends 'layout.html.twig' %}
{% block title %}
    {{ parent() }} - Rules
{% endblock %}
{% block content %}
    <h1>rules</h1>

    $connexionAPI->
    showRandArtPiece(int $department_nb)
    ?>

{% endblock %}