
:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1
}

.anim-points {
    color: forestgreen;
    font-weight: 500;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    -webkit-animation: jackInTheBoxBounceOutright 2.5s both 0s ease;
}

.anim-coeff {
    color: forestgreen;
    font-weight: 500;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    -webkit-animation: jackInTheBoxBounceOutright 2.5s both 1s ease;
}

.anim-perfect {
    color: forestgreen;
    font-weight: 500;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    -webkit-animation: heartBeat 2.5s both 2s ease;
}

.anim-game-over {
    color: darkred;
    font-weight: 500;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    -webkit-animation: BackInDownHinge 4s both 2s ease;
}


@-webkit-keyframes jackInTheBoxBounceOutright {
    0% {
        opacity: 0;
        -webkit-transform: scale(.1) rotate(50deg);
        transform: scale(.1) rotate(50deg);
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom
    }
    20% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    50% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(-20px, 0, 0) scaleX(.9);
        transform: translate3d(-20px, 0, 0) scaleX(.9)
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(1000px, 0, 0) scaleX(2);
        transform: translate3d(1000px, 0, 0) scaleX(2)
    }
}


@keyframes BackInDownHinge {
    0% {
        -webkit-transform: translateY(-1200px) scale(.7);
        transform: translateY(-1200px) scale(.7);
        opacity: .7
    }
    50% {
        -webkit-transform: translateY(0) scale(.7);
        transform: translateY(0) scale(.7);
        opacity: .7
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes heartBeat {
    0% {
        -webkit-transform: scale(1);
        opacity :0;
        transform: scale(1)
    }
    14% {
        -webkit-transform: scale(1.3);
        opacity :.5;
        transform: scale(1.3)
    }
    28% {
        -webkit-transform: scale(1);
        opacity :1;
        transform: scale(1)
    }
    42% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}



