#heart-logo{
    position: absolute;
    bottom: 6px;
    right: 26px;

}

.clicked{
    color : red;
    font-size: 35px;
}

.unclicked{
    color: var(--primary-color);
    font-size: 30px;
}

#img-contain {
    position: relative;
}