#img-contain {
    position: relative;
}

.clicked{
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;
    color : var(--primary-color);
    font-size: 2em;
}

.unclicked{
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 2;
    color: var(--secondary-color);
    font-size: 2em;
}
