@import "variables.css";
@import "game.css";
@import "header.css";
@import "anim.css";
@import "solution.css";

header {
    position:relative;
    z-index:1070;
}

.header-content{
    height: 100px;
}

footer {
    height: 50px;
}

h1 {
    justify-content: center;
    font-family: 'DM Serif Text', serif;
    font-size: 54px;
    color: var(--primary-color);
}

a.text-secondary:hover{
    color: var(--light-color) !important;
}

.footer-fa{
    color:var(--dark-color);
    font-size: 30px;
}

.clickable:hover{
    cursor: pointer;
}

.fas-tog{
    color: var(--primary-color);
}

.fas-card{
    font-size: 80px;
}
.thead-primary{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.cloudy{
    filter:brightness(0%);
    -webkit-filter: brightness(0%);
}
.carousel-control-next, .carousel-control-prev{
    display: block;
    width:25vw;
    height: 0vh;
    top:50vh
}