@import "score.css";
@import "header.css";


.form-quizz{
    display: flex;
    justify-content: center;
    margin: 5px;
}

body {
    min-height: 100vh;
}

container {
    min-height: 100%;
}

h1 {
    font-family: 'DM Serif Text', serif;
    font-size: 54px;
    color: #333333;
}

