@import "score.css";
@import "header.css";
@import "department.css";
@import "quizz.css";
:root{
    --primary-color:#3b1b72;
    --light-color:#F2F2F2;
    --primary-hover: #d205df;
    --secondary-color: #d9d9d4;
    --dark-color:#333;

}

.fas{
    font-size: 50px;
    color: var(--secondary-color);
}
.fas-tab{
    font-size: 20px;
    color: var(--primary-color);
}
.btn-primary {
    background-color: var(--primary-color);
    color: var(--secondary-color) !important;

}

.bg-primary{
    background-color: var(--primary-color) !important;
}
.bg-secondary{
    background-color: var(--secondary-color) !important;

}
.bg-light{
    background-color: var(--light-color) !important;
}

.text-primary{
    color : var(--primary-color) !important;
}
.text-secondary{
    color : var(--secondary-color) !important;
}

.btn-outline-primary{
    background-color: var(--primary-color);
}

.btn-primary:hover {
    color: var(--secondary-color);
    background-color: var(--primary-hover) ;
    border-color:var(--primary-hover);
}



.container {
    min-height: 100%;
}


.point-win {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 20%;
    height: 300px;
}

.point-win img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

h1 {
    justify-content: center;
    font-family: 'DM Serif Text', serif;
    font-size: 54px;
    color: var(--primary-color);
}
a text-secondary:hover{
    color: var(--light-color) !important;

}
.footer-fa{
    color:var(--dark-color);
    font-size: 30px;
}
