@import "header.css";
@import "department.css";

.btn-danger {
    background-color: #e4002b !important;
}

.btn-danger:hover {
    color: #fff;
    background-color: #cd0027 !important;
    border-color: #cd0027 !important;

.form-quizz{
    display: flex;
    justify-content: center;
    margin: 5px;
}


h1 {
    font-family: 'DM Serif Text', serif;
    font-size: 54px;
    color: #333333;
}

