<div class="margin-footer"></div>
<footer id="footer">
    <div class="container-fluid">
        <div class="row bg-light justify-content-end align-items-start" style="height:50px">
            <div class="col-12">
                <div id="carouselExampleSlidesOnly" class="carousel slide w-100 " data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            {{ comments[0] }}
                        </div>
                        {% for i in 1..4 %}
                            <div class="carousel-item ">
                                {{ comments[ i ] }}
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>