<footer class="py-4 bg-light vh-10 mt-auto">
    <div class="container">
        <p class="m-0 h3 text-right font-weight-bold text-black">Follow Us
            <a href="https://www.facebook.com/metmuseum" target="_blank"><i class="fab fa-facebook-square footer-fa" ></i></a>
            <a href="https://twitter.com/metmuseum" target="_blank"><i class="fab fa-twitter footer-fa"></i></a>
            <a href="https://www.pinterest.fr/metmuseum/" target="_blank"><i class="fab fa-pinterest footer-fa"></i></a>
            <a href="https://www.instagram.com/metmuseum/" target="_blank"><i class="fab fa-instagram footer-fa"></i></a>
            <a href="https://cutt.ly/9vuE2A8" target="_blank"><i class="fab fa-youtube footer-fa" ></i></a>
            <a href="https://github.com/WildCodeSchool/2021-march-bordeaux-met" target="_blank"><i class="fab fa-github footer-fa" ></i></a>
        </p>
    </div>
</footer>