<div class="container">
    <div class="row">
        <div class="col-sm pt-5">
        <img src="/assets/images/van_portrait.png" class="img-responsive" alt="Portrait de Vincent Van Gogh" width="100%">
        </div>
            <div class="col-sm pt-5">
<text class="text-center">
<form class="form-signin" method="post">
    <img src="/assets/images/logo_art.png" class="mb-4 img-responsive" alt="Logo artistique" width="300" height="300">
    <h1 class="h3 mb-3 font-weight-bold">Connexion</h1>
    <label for="pseudo" class="h4 text-primary">Pseudo :</label>
    <input type="text" name="pseudo" id="pseudo" class="form-control mb-4" placeholder="Pseudo" required>
    <label for="inputPassword" class="h4 text-primary">Password :</label>
    <input type="password" name="password" id="inputPassword" class="form-control mb-5" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block h3 text-white font-weight-bold" type="submit">Je me connecte</button>
    <a href="/Home/signup" class="text-primary text-decoration-none">Pas encore inscrit ?</a>
    <p class="mt-5 mb-3 text-muted">&copy; Team JOON</p>
</form>
</text>
        </div>
</div>
</div>
