<div class="container">
    <div class="row">
        <div class="col-sm pt-5 mt-5">
            <img src="/assets/images/logo_art.png" class="img-responsive" alt="Logo artistique" width="90%">
        </div>
        <div class="col-sm pt-5 mt-5">
            <form>
                <button class="btn btn-lg btn-danger btn-block h3 text-white font-weight-bold" type="submit">Sign Up</button>
                <div class="form-group row pt-4">
                    <label for="pseudo-sign" class="col-sm-3 h4 text-danger">Pseudo :</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="pseudo-sign">
                    </div>
                </div>
                <div class="form-group row pt-4">
                    <label for="inputPassword" class="col-sm-4 h4 text-danger">Password :</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="inputPassword">
                    </div>
                </div>
            </form>
    </div>
    </div>
</div>