<div class="container d-flex align-items-center justify-content-center min-vh-100">
    <div class="row w-100">
        <div class="col-sm-6">
            <div class="text-center">
            <img src="/assets/images/newlogo.png" class="img-fluid" alt="Logo visiteurs au musée" width="95%">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="text-center">
            <img src="/assets/images/map.png" class="img-fluid mb-3" alt="PLan du musée pour le jeu" width="30%">
            <form class="form-signin" method="post">
                <input type="text" id="pseudo" class="form-control"  name="pseudo" maxlength="100" placeholder="Pseudo" autofocus>
                {{ errors.pseudo }}
                <br>
                <input type="password" id="inputPassword" class="form-control mt-3 mb-3" name="password" maxlength="255" placeholder="Password">
                {{ errors.password }}
                <br>

                <button class="btn btn-lg btn-primary btn-block h3 text-secondary font-weight-bold" type="submit">Connexion</button>
            </form>
                <a href="/Home/signup" class="text-primary text-decoration-none">Pas encore inscrit ?</a>

                <p class="mt-5 mb-3 text-muted">&copy; Team JOON</p>
                </div>

        </div>
    </div>
</div>
